.footer{
    background-image: url('../../images/dark-wood.png');
    color: white;
    min-width: 100%;
    min-height: 512px 512px;
}

.infos-and-logo{
    padding-bottom: 1rem;
    min-width: 100%;
    min-height: 115%;
}

.site-info{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.footer-logo{
    display: flex;
    align-items: flex-start;
    padding: 3rem 0 3rem 10rem;
}

.copyright p{
    display: flex;
    justify-content: center;
}

.titles-info{
    color: $color_orange_brand;
}

.titles-info2{
    color: $color_purple_brand;
}

.info1{
    width: 25%;
    display: block;
    justify-content: center;
    padding-left: 5rem;
    padding-top: 2rem;
}

.info2{
    width: 25%;
    padding-top: 2rem;

    span{
        font-weight: 700;
    }
}

.footer-logo{
    padding-right: 0;
    display: flex;
    width: 50%;
    justify-content: center;
    align-content: center;

    img{
        width: 280px;

    }
}

.copyright p{
    font-family: $font__other;
}
